<h1>My Blog</h1>

<br />

<p>
<%= @article.date %> <strong><%= @article.title %></strong>
</p>

<p>
<%= @article.text %>
</p>
<br />

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <%= comment.body %>
  </p>
  <% end %>

<% if @article %>

  <h2>Add a comment:</h2>
  
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
  <% end %>

 
