<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  </head>

  <body>
    <h1>My Blog</h1>

    <br />
    <p class="flash"><%= flash.notice %></p>

    <%= yield %>


    <h6>
      <% if logged_in? %>
        <%= "Logged in as #{current_user.email}" %>
        <%= link_to "(logout)", logout_path %>
      <% else %>
        <%= link_to "(login)", login_path %>
      <% end %>
    </h6>
    
    
    
  </body>
</html>
